multiple headers/parameters with same key combined

When adding multiple parameters or headers with the same key, removing one of them removes all of them with that key, instead of just the one clicked.
E.g. Query parameters = [
a: b,
x: z,
a: c,
a: d,
]
clicking remove on the `a: d` parameter also removes `a: b` and `a: c`
The same goes for submission of the request: they are combined. Some APIs require a query parameter with the same key specified multiple times with different values for arrays/groups (e.g. `?filter=new&filter=used`. Additionally, multiple headers of the same type should be supported, at least according to RFC 2616, section 4.2 

I'm not sure if something about RAML or api-console's scope excludes it from needing to handle these situations, but I thought I'd at least report it


@reesew: You can use `repeat`. Unfortunately, it is not supported by the API-Console yet.

From RAML spec:

```
Repeat

(Optional) The repeat attribute specifies that the parameter can be repeated. If the 
parameter can be used multiple times, the repeat parameter value MUST be set 
to 'true'. Otherwise, the default value is 'false' and the parameter may not be repeated.
```


V4 supports array parameters correctly.
In the parameters editor you have a separate fields for each value so deleting one item do not deletes others. Also altering the URL will correctly only update those fields in the form that has been changed in the URL.

Headers are handled according to specification. If a header is repeated in the headers editor, the final value passed to the transport library is containing valid HTTP string (repeated values are appended to first value after coma).

Fixed with https://github.com/mulesoft/api-console/commit/c74eacde58e40d1d79c4885b15fa3ff210b6610c